*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; 
}

body, html {
  height: 100%;
}

input, label, .info, .cat {
  display: none;
}

.parallax {
  height: 100%;
}

/* <---------- MENU x BAR ----------> */

.smenu {
  width: 100%;
  background-color: black;
  height: 40px;
}
.smenu h2 {
  float: left;
  position: relative;
  top: 5px;
  left: 30px;
}
.smenu h2 a {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  color: white;
  text-decoration: none;
}
nav {
  position: absolute;
  right: 0px;
  z-index: 1
}
.submenu, .cat {
  float: right;
  list-style-type: none;
  background-color: #E91E63;
}
.submenu li a, .cat li a {
  text-decoration: none;
  text-align: center;
  padding: 11px 15px;
  display: block;
  color: white;
  letter-spacing: 4px;
}
.submenu li, .cat li {
  display: block;
  float: left;
}
.submenu li ul li {
  float: none;
}
.submenu li ul {
  display: none;
  position: absolute;
  z-index: 1;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  width: 280px;
}
.submenu li:hover ul {
  display: block;
  background-color: #F5207D;
  color: white;
}
.submenu li a:hover {
  background-color: white;
  color: black;
  transition: 0.8s ease;
}
.submenu li.active a {
  background-color: #fff;
  color: #000;
}

/* <--------------- o ---------------> */

/* < SECOND SECTION > */

.fixed {
  height: 700px;

  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("IMG/8.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed h1 {
  text-align: center;
  position: relative;
  top: 30%;
  font-size: 70px;
  font-weight: 500;
  color: #fff;
}

/* < THIRD SECTION > */

.swhite {
  height: auto;
  margin-bottom: 180px;
  background-color: white;
  color: black;
}

.swhite h3 {
  color: #41292C;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 20px;
}

.article {
  margin: 0;
  padding: 0;
  width: 75%;
  position: relative;
  top: 60px;
  margin: 0 auto;
}

.article h1 {
  color: #E4BB97;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 0;
}

.article td {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  padding: 40px 0;
}

.article p {
  color: #444444;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

.article a {
  color: #214E34;
  font-size: 13px;
  font-weight: 900;
  padding: 2px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  border: 1px solid black; 
  line-height: 40px;
}

.article img {
  float: right;
  margin-left: 50px;
}

/* < FORTH SECTION > */

.sblack {
  height: 200px;
  background-color: black;
  color: white;
  text-align: center;
}

.sblack h4 {
  padding-top: 50px;
  font-size: 40px;
}

.sblack p {
  padding-top: 10px;
  font-size: 18px;
}


/* <------  MOBILE RESPONSIVE  ------> */

@media screen and (max-width:720px) {

/* <---------- MENU x BAR ----------> */

.smenu h2 {
  font-size: 22px;
  position: relative;
  top: 6px;
}
nav {
  text-align: center;
}
.submenu {
  display: none;
}
.cat {
  display: none;
  width: 180px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 40px;
  left: 50px;
}
label {
  display: initial;
  float: right;
}
.bar {
  background-color: #FF0066;
  padding: 5px 10px;
}
.bar div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}
#check01:checked~.cat {
  display: block;
  background-color: #F5207D;
  color: white; 
}
.cat li {
  display: block;
  width: 100%;
  text-align: center;
}
.cat li a:hover {
  background-color: white;
  color: black;
}
.cat li.active a {
  background-color: white;
  color: black;
}

/* <--------------- o ---------------> */

/* < SECOND SECTION > */

.fixed {
  height: 400px; 
}

.fixed h1 {
  float: initial;
  text-align: center;
  position: relative;
  top: 30%;
  right: 0;
  margin-right: 0;
  font-size: 35px;
}

/* < THIRD SECTION > */

.swhite {
  margin-bottom: 100px;
}

.swhite h3 {
  font-size: 30px;
  position: relative;
  top: 25px;
  margin: 5px;
}

.article {
  width: 80%;
  position: relative;
  top: 40px;
}

.article td{
  padding: 20px 0;
}

.article h1 {
  font-size: 20px;
  padding: 5px 0;
}

.article p {
  padding: 3px 0;
  font-size: 15px;
  height: 100px;
  overflow: hidden;
  line-height: 25px;
}

.article a {
  letter-spacing: 0.8px;
  font-size: 8px;
}

.article img {
  display: none;
}

/* < FORTH SECTION > */

.sblack {
  height: 130PX;
}

.sblack h4 {
  padding-top: 35px;
  font-size: 25px;
}

.sblack p {
  padding: 10px;
  font-size: 15px;
}

}