*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; 
}

body, html {
  height: 100%;
}

.mobile, input, hr, label {
  display: none;
}

#searchbar { 
  margin: 4px 0 0 4px;
  padding: 6px; border-width: 1px;
  display: initial;
  background-color: lightblue;
  width: 335px;
  position: absolute;
  top: 45px;
  right: 15px; 
  color: black;
  font-weight: bold;
  border: 1px solid black;
  outline: none;
}

/* <---------- MENU x BAR ----------> */

.smenu h2 {
  float: left;
  position: relative;
  top: 5px;
  left: 30px;
}
.smenu h2 a {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  font-weight: 200;
  color: white;
  text-decoration: none;
}

.desk {
  width: 100%;
  background-color: black;
  height: 40px;
}

.submenu, .cat {
  position: relative;
  z-index: 1;
  float: right;
  list-style-type: none;
  background-color: #E91E63;
}

.submenu li, .cat li {
  display: block;
  float: left;
}

.submenu li a, .cat li a {
  text-decoration: none;
  text-align: center;
  padding: 10.5px 15px;
  display: block;
  color: white;
  letter-spacing: 4px;
}

.submenu li ul {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  width: 600px;
  height: 82px;
}

.submenu li ul li {
  width: 200px;
}

.submenu li:hover ul {
  display: block;
  background-color: #F5207D;
  color: white;
}

.submenu li a:hover {
  background-color: white;
  color: black;
  transition: 0.5s ease;
}

.submenu li.active a {
  background-color: #000;
  color: #fff;
}

/* < SECOND SECTION > */

.swhite {
  min-height: 1000px;
  margin-bottom: 180px;
  background-color: white;
  color: black;
}

.swhite h3 {
  color: #41292C;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 20px;
}

#list {  
  list-style-type: none;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}

#list li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 20px;
  width: 400px;
  float: left;
}

#list h6 {
  color: #E4BB97;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
}





@media screen and (max-width:720px) {

.smenu h2 {
  	position: absolute;
  	left: 35%;
  	font-size: 22px;
  	float: initial;
  	background-color: #fff;
}

.smenu h2 a {
  	color: black;
  	padding: 3px;
}

.desk, input, .cat {
  	display: none;
}

.mobile, label {
  	display: initial;
}

/* MENU BAR */

.mb {
  	position: absolute;
  	top: 0;
  	left: 0;
}

.bar {
  	background-color: #fff;
  	margin: 3px 10px;
  	padding: 1px 5px;
}

.bar div {
  	width: 25px;
  	height: 2px;
  	background-color: #000;
  	margin: 6px 0;
}

#check01:checked~.cat {
  	display: block;
  	background-color: #F5207D;
  	color: white;
    position: absolute;
    top: 40px;
}

.cat li a:hover {
  	background-color: white;
  	color: black;
}

.cat li.active a {
  	background-color: white;
  	color: black;
}

/* SEARCH BAR */

.sb img {
    position: absolute;
    top: 0;
    right: 0;
  	margin: 7.5px 10px;
  	padding: 1px 5px;
}

#searchbar { 
  	margin: 4px 0 0 4px;
  	padding: 8px; border-width: 1px;
  	display: none;
  	background-color: white;
  	width: 80%;
  	position: absolute;
  	top: 0px;
  	left: 0px;
}  
 
.a { 
  	display: list-item;
}  

#check02:checked~#searchbar {
  	display: initial;

}

/* LIST */

#list {
  	position: absolute;
  	top: 100px;
  	margin: 20px 5px;
}

#list li {
    width: 40%;
    margin: 15px;
    float: left;
}

#list h6 {
    font-size: 15px;
}

.swhite h3 {
    font-size: 25px;
}

}