*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; 
}

body, html {
  height: 100%;
}

input, label {
  display: none;
  float: right;
}

/* <---------------< MENU BAR - STARTS >---------------> */

.smenu {
  width: 100%;
  background-color: black;
  height: 40px;
}

.smenu h2 {
  float: left;
  position: relative;
  top: 5.5px;
  left: 20px;
  letter-spacing: 4px;
  font-weight: normal;
  color: white;
}

nav {
  width: 100%;
  float: right;
  position: absolute;
  z-index: 1
}

.submenu {
  float: right;
  list-style-type: none;
  background-color: #E91E63;
  display: table;
}

.submenu li {
  display: table-cell;
}

.submenu li a {
  text-decoration: none;
  text-align: center;
  padding: 10.5px 15px;
  display: block;
  color: white;
  letter-spacing: 4px;
}

.submenu li a:hover {
  background-color: white;
  color: black;
  transition: 0.8s ease;
}

/*   <--  MOBILE RESPONSIVE  -->   */

@media screen and (max-width:720px) {

.smenu {
  height: 40px;
}

.smenu h2 {
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: 8px;
}

nav {
  width: 130px;
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.submenu {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

label {
  display: initial;
  float: right;
}

.bar {
  background-color: #FF0066;
  padding: 5px 10px;
}

.bar div {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}

input:checked~ul.submenu {
  display: block;
  overflow: hidden;
}

.submenu li {
  display: block;
}

.submenu li a {
  display: block;
  font-size: 16px;
  margin: 0;
  display: block;
}
/* <---------------< MENU BAR - ENDS >---------------> */


}

.a1 {
  height: auto;
  width: 75%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 180px;
  background-color: white;
  color: black;
}

.a1 h1 {
  color: #41292C;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 40px;
  margin: 20px;
}

.a1 span {
  margin-top: 30px;
  float: right;
}
 
.a {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 60px;
  margin: 0 auto;
}

.a h3 {
  color: #E4BB97;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 50px;
}

.a td {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  padding: 40px 0;
}

.a p {
  color: black;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 0;
}

.a img {
  float: right;
  margin-left: 50px;
}
